<div class="w-25 bg-gray-100 d-flex flex-column justify-content-between" style="height: 100%;"> 
    <div >
      <a href="index.html" class="ps-4">
        <img class="mb-4 pt-3" src="../assets/images/logo-ANSWER.svg" alt="logo">
      </a>
      <ul class="menu ps-0">
        <li class="mb-3" ><a href="#">
          <span class="material-icons me-2 ms-4">assessment</span>
          <p class="d-inline">Dashboard</p></a>
        </li>
        <li class="mb-3"><a href="#">
          <span class="material-icons me-2 ms-4">question_answer</span>
          <p class="d-inline">Question</p></a>
        </li>
        <li class="mb-3"><a href="#">
          <span class="material-icons me-2 ms-4">assignment</span>
          <p class="d-inline">Assignment</p></a>
        </li>
        <li class="mb-3"><a href="#">
          <span class="material-icons me-2 ms-4">shop_two</span>
          <p class="d-inline">Course</p></a>
        </li>
        <li class="mb-3"><a href="#">
          <span class="material-icons me-2 ms-4">supervisor_account</span>
          <p class="d-inline">Admin</p></a>
        </li>
        <li><a href="#">
          <span class="material-icons me-2 ms-4">settings</span>
          <p class="d-inline">Settings</p></a>
        </li>
      </ul>
    </div>
    <div class="login-user-info d-flex align-items-center ps-4 pb-4">
      <img  src="../assets/images/andychen.jpeg" alt="自己的照片">
      <ul class="ps-3 mb-0">
        <li ><p class="mb-0" style="font-weight: bold;">Andy Chen</p></li>
        <li ><p class="mb-0" style="color:#6C757D; font-size: 14px;">andy0401@mail.com</p></li>
      </ul> 
    </div>

  </div>