<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <!-- <%- include('./layout/header'); -%> -->

    <div class="container-fluid" style="height: 100%;">
      <div class="w-25 bg-gray-100 d-flex flex-column justify-content-between" style="height: 100%;"> 
        <div >
          <a href="index.html" class="ps-4">
            <img class="mb-3" src="../assets/images/logo-ANSWER.svg" alt="logo">
          </a>
          <ul class="menu ps-0">
            <li class="mb-3" ><a href="#">Dashboard</a></li>
            <li class="mb-3"><a href="#">Question</a></li>
            <li class="mb-3"><a href="#">Assignment</a></li>
            <li class="mb-3"><a href="#">Course</a></li>
            <li class="mb-3"><a href="#">Admin</a></li>
            <li><a href="#">Settings</a></li>
          </ul>
        </div>
        <div class="login-user-info d-flex align-items-center ps-4 pb-4">
          <img  src="../assets/images/andychen.jpeg" alt="自己的照片">
          <ul class="ps-3 mb-0">
            <li ><p class="mb-0">Andy Chen</p></li>
            <li ><p class="mb-0">andy0401@mail.com</p></li>
          </ul> 
        </div>

      </div>

      <div ></div>
    </div>

    <!-- <h1 class="index-title ">我是首頁</h1> -->

    <!-- <div class="card" style="width: 18rem">
      <img src="../assets/images/cat.jpg" class="card-img-top" alt="cat" />
      <div class="card-body">
        <h5 class="card-title">卡片元件</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, odit, iusto odio assumenda alias id
          nobis earum!
        </p>
      </div>
    </div> -->

    <!-- Modal 按鈕 -->
    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      打開 modal
    </button> -->

    <!-- Modal 元件 -->
    <!-- <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal 標題</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">內容</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            <button type="button" class="btn btn-primary">確定</button>
          </div>
        </div>
      </div>
    </div> -->
<!-- 
    <%- include('./layout/footer'); -%> -->

    <script type="module" src="../main.js"></script>
  </body>
</html>
